DOTA Dataset/*
LoveDa Dataset/*
Preprocessed Datasets Prithvi/*
Preprocessed Datasets UNetFormer/*
FineTuned_Prithvi_models_DOTA/*
FineTuned_Prithvi_models_LoveDa/*
FineTuned_UNetFormer_models_DOTA/*
Prithvi_100M.pt